a{
    color: white;
}

.card{
    width: 275px;
    height: 200px;
    float: left;
    margin: 30px 40px 55px 30px;
}

.card-title{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
}

#card1{
    background-image: url('../images/guess.PNG');
    background-size: cover;
    background-position: center;
}

#card2{
    background-image: url('https://images.pexels.com/photos/669609/pexels-photo-669609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

#card3{
    background-image: url('https://images.pexels.com/photos/590037/pexels-photo-590037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    clear: both;
}

#card4{
    background-image: url('https://images.pexels.com/photos/147408/pexels-photo-147408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}

#card5{
    background-image: url('https://images.pexels.com/photos/186464/pexels-photo-186464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    clear: both;
}

@media screen and (max-width:980px){
    .card{
        margin: 30px 15px 55px 30px;
    }
}

@media screen and (max-width:640px){
    .card{
        width:390px;
        height: 290px;
        text-align: center;
        margin: 30px 72.5px 30px 72.5px;
    }

    .card-title{
        margin-top: 230px;
    }
}